body {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #000000;
  }
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .col-3{
    width: 25%;
  }
  .col-6{
    width: 50%;
  }
  
  .main{
    background: #E5E5E5;
  }
  